# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.CinemaAppClient.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\mi\Desktop\University\8sem\csharp\CinemaAppClient\.idea\.idea.CinemaAppClient\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
